$light-gray-1: #BDBDBD;
$light-gray-2: #E0E0E0;
$light-gray-3: #EEEEEE;
$light-gray-4: #F5F5F5;
$white: white;

$green-darken-4: #1B5E20;
$green-darken-3: #2E7D32;
$green-darken-2: #388E3C;
$green-darken-1: #43A047;
$green: #4CAF50;
$green-lighten-1: #66BB6A;
$green-lighten-2: #81C784;
$green-lighten-3: #A5D6A7;
$green-lighten-4: #C8E6C9;

$red-darken-4: #B71C1C;
$red-darken-3: #C62828;
$red-darken-2: #D32F2F;
$red-darken-1: #E53935;
$red: #F44336;

$yellow-darken-4: #F57F17;
$yellow-darken-3: #F9A825;
$yellow-darken-2: #FBC02D;
$yellow-darken-1: #FDD835;
$yellow: #FFEB3B;

$light-blue-lighten-1: #29B6F6;
$light-blue-lighten-2: #4FC3F7;
$light-blue-lighten-3: #81D4FA;
