$light-gray-1: #BDBDBD;
$light-gray-2: #E0E0E0;
$light-gray-3: #EEEEEE;
$light-gray-4: #F5F5F5;
$white: white;

$green: #4CAF50;
$green-lighten-1: #66BB6A;
$green-lighten-2: #81C784;
$green-lighten-3: #A5D6A7;
$green-lighten-4: #C8E6C9;

$light-blue-lighten-1: #29B6F6;
$light-blue-lighten-2: #4FC3F7;
$light-blue-lighten-3: #81D4FA;
